[Unit]
Description=Run sboxjam git poller every 30s

[Timer]
OnBootSec=30s
OnUnitInactiveSec=30s
AccuracySec=5s
Unit=sboxjam-poll.service

[Install]
WantedBy=timers.target
