DATABASE_URI=mongodb://127.0.0.1:27017/sboxjam
PAYLOAD_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_STRING
NEXT_PUBLIC_SERVER_URL=https://admin.sboxjam.com

# Discord OAuth (registration/login)
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
SERVER_URL=https://admin.sboxjam.com
WEB_URL=https://sboxjam.com
